.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2233;
  color: #fff;
  height: 60px;
  padding: 0 8rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50px;
  border: 2px solid #fff;
}

span {
  padding: 15px;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-toggler {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 14rem;
  background-color: #1f2233;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in;
  }
}