.moreButton {
    margin-top: 2rem;
}

.button {
    height: 2.1rem;
    width: 9rem;
    font-size: 18px;
    font-weight: 600;
    background-color: #f8d074;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: red;
}

.button:active {
    background-color: #ddd;
    border: 1px solid #888;
    box-shadow: inset 0px 0px 5px #888;
    color: #555;
}